$lightShade: #f0f4f5;
$lightAccent: #ff927a;
$mainColor: #43b9d0;
$darkAccent: #e86e72;
$darkShade: #3a2e58;
$lightGrey: #ccc;
$darkGrey: #333;

$main--sell: #ff927a;
$main--admin: #3a2e58;
$main--warning: #ff0000;