#adSectionSingle {
  display: flex;
  flex-flow: wrap;
  padding: 0 10vw;
  @media screen and (min-width: 1000px) {
    padding: 0 15vw;
  }
}

.product-info--single {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  padding-top: 1rem;
  line-height: 1.45;
  // @media screen and (min-width: 600px) {
  //   flex-direction: row;
  // }
  h3,
  p {
    margin-bottom: 0;
  }
}

.adImg--single {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.ad-single--desc {
}

.ad-single--info {
  width: 100%;
}

.table__ad-single {
  width: 100%;
}

.table__ad-admin {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  td, th {
    line-height: 1.7;
    background: #ff3;
  }
}