#adSectionSingle {
  display: flex;
  flex-flow: wrap;
  padding: 0 10vw;
  @media screen and (min-width: 1000px) {
    padding: 0 15vw;
  }
}

.product-info--single {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
  h3,
  p {
    margin-bottom: 0;
  }
}

.product-info--single {
  width: 100%;
  @media screen and (min-width: 600px) {
    padding-top: 2vw;
  }
}

.adImg--single {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.ad-single--desc {

}

.ad-single--info {

}