.footer__buy, .footer {
  width: 100%;
  min-height: 20vh;
  background: $lightShade;
  padding: 2rem;
}

.footer ul li a, .ad--link {
  color: $darkGrey;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer__buy {
  color: $mainColor;
}

.footer__sell {
  color: $main--sell;
}

.footer__admin {
  color: $main--admin;
}