button {
  font-size: 0.9rem;
  color: $darkGrey;
  padding: 0.5rem;
  border-radius: 5px;
  background-image: linear-gradient(#fff, #eee);
  border: 1px solid $lightGrey;
}

.form__button--active {
  background: $mainColor;
  color: white;
  border: 1px solid $mainColor;
} 

.ad__button--active  {
  background: white;
  color: $main--sell;
  border: 1px solid $main--sell;
  &:hover {
    background: $main--sell;
    color: white;
    border: 1px solid white;
  }
}

.ad__button--delete  {
  background: $main--warning;
  color: white;
  border: 1px solid $main--warning;
  &:hover {
    background: white;
    color: $main--warning;
    border: 1px solid $main--warning;
  }
}

form {
  background: white;
  box-sizing: border-box;
  padding: 1rem;
}

.form__sell {
  border: 1px solid $main--sell;
  padding: 1rem 2rem 2rem 2rem;
}

.form__admin {
  border: 1px solid $main--admin;
  padding: 1rem 2rem 2rem 2rem;
}

.form__submit_btn, .form__reset_btn, .form__submit_btn--create {
  background: $mainColor;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid $mainColor;
}

.form__submit_btn--create {
  background: $main--sell;
  border: 1px solid $main--sell;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
}

.form__submit_btn--admin {
  background: $main--admin;
  border: 1px solid $main--admin;
}

button:hover {
  cursor: pointer;
}

.form__reset_btn {
  background: white;
  color: $mainColor;
}

.form__input, .form__input--create {
  box-sizing: border-box;
  border: 2px solid $mainColor;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 500px;
}

.form__input--create {
  border: 1px solid $main--sell;
}

.form__input--admin {
  border: 2px solid $main--admin;
}

.form__feedback {
  color: $main--sell;
  margin-top: 0;
}