.hero {
  background-image: url("images/fancy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#addSection {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
}

.product, .ad {
  display: flex;
  flex-direction: column;
  border: 2px solid $mainColor;
  border-radius: 5px;
  width: 100%;
  img {
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .product-info {
    h3, p {
      margin-bottom: 0;
    }
    .save-btn {
      margin-top: 1rem;
    }
  }
  & + .product {
    margin-top: 1rem;
  }
  @media screen and (min-width: 600px) {
    flex-direction: row;
    img {
      max-width: 500px;
      height: auto;
    }
  }
  box-shadow: 0px 5px 5px 0px rgba($color: #9c9c9c, $alpha: 0.4);
}

.ad {
  border: 1.5px solid $main--sell;
  padding: 1rem;
}

.ad + .ad {
  margin-top: 1.5rem;
}

.product-info {
  padding-left: 2rem;
  @media screen and (min-width: 600px) {
    width: 50%;
  }
}

.save-btn {
  border: 1px solid $mainColor;
  color: $mainColor;
  border-radius: 5px;
  padding: 0.25rem;
}

.section__create {
  margin: 5vw;
}

.form__inner {
  padding: 1rem;
}